{:deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.scicloj/clay                    {:mvn/version "2-beta34"}
        org.scicloj/noj                     {:mvn/version "2-beta11.1"}
        org.scicloj/tableplot               {:mvn/version "1-beta11"}
        scicloj/tablecloth                  {:mvn/version "7.042"}
        scicloj/clojisr                     {:mvn/version "1.0.0"}
        techascent/tech.ml.dataset          {:mvn/version "7.052"}}}
