{:deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.scicloj/noj                     {:mvn/version "2-beta16"}
        org.scicloj/tablemath {:mvn/version "1-alpha2"}
        factual/geo {:mvn/version "3.0.1"}}
 :paths ["src" "notebooks"]}
